<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- 로그인 입력 필드 -->
        <input type="text" v-model="id" placeholder="id">
        <input type="password" v-model="password" placeholder="Password">
        <button @click="fnLogin">Login</button>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                id: '', // 로그인에 사용할 username
                password: ''  // 로그인에 사용할 password
            };
        },
        methods: {
            fnLogin: function() {
                
            }
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
        }
    });

    app.mount('#app');
</script>